################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Stacked-and-Synced-CIS4914-Project.slnx/FileContentIndex
/.vs
